#radial {
    position: relative;
    width: 800px;
    height: 931px;
    left: 670px;
    top: 23px;
    margin-top: -50px;
    background: radial-gradient(54.66% 50.66% at 50% 50%, rgba(185, 138, 66, 1) 0%, rgba(217, 171, 89, 0.706386) 55.96%, rgba(252, 218, 151, 0) 91.67%);
    z-index: 0;
}

#radial2 {
    height: 700px;
    width: 700px;
    margin-left: -230px;
    margin-top: -1000px;
    position: relative;
    background-image: radial-gradient(80% 490px at center,rgba(185,138,66,1) 0%,rgba(217,171,89,0.8113839285714286) 31%, rgba(252,218,151,0) 60%);
    z-index: 0;
}

.para-1 {
    position: absolute;
    width: 509px;
    height: 2839px;
    left: 778px;
    top: 53px;
    font-family: ra-med;
    font-size: 34px;
    color: #e0c28a79;
    overflow-y: scroll;
}

