@font-face{
    font-family: 'ra-med';
    src: url('ra-med.ttf')
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
}

.container {
    display: block;
}

.primary-header {
    font-family: 'Smooch Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    margin-block-start: 0em;
    margin-block-end: 6em;
    margin-inline-start: 1px;
    margin-inline-end: 30px;
    padding-inline-start: 1px;
}

.container a {
    color: #b68429;
    font-size: 30px;
    font-family: 'Smooch Sans', sans-serif;
    margin-left: 2%;
    margin-top: 1%;
    opacity: 100%;
}

.container a .link2 {
    margin-right: 2%;
    margin-top: 1%;
    font-size: 30px;
    color: #b68429;
}

.container3 {
    height: 10vh;
    position: relative;
    width: 100%;
}

*{
    box-sizing: border-box;
}

.blurbox{
    left: -5%;
    top: 18%;
    z-index: 0;
    background-color: rgba(222, 213, 199, 0.5);
    backdrop-filter: blur(7px);
    position: absolute;
    width: 543px;
    height: 481px;
    margin-top: -100px;
}

.blurbox2{
    left: 50%;
    top: 270%;
    z-index: 34;
    background-color: #ded5c780;
    backdrop-filter: blur(7px);
    position: absolute;
    width: 661px;
    height: 871px;
    margin-top: -100px;
}

.blurbox3{
    left: 10%;
    top: 1180%;
    z-index: 34;
    background-color: rgba(222, 213, 199, 0.5);
    backdrop-filter: blur(7px);
    position: absolute;
    width: 653px;
    height: 654px;
    margin-top: -100px;
}

.radial-circles {
    position: relative;
}

#radial {
    position: absolute;
    width: 900px;
    height: 1031px;
    left: 540px;
    top: 23px;
    margin-top: -50px;
    background: radial-gradient(54.66% 50.66% at 50% 50%, rgba(185, 138, 66, 1) 0%, rgba(217, 171, 89, 0.706386) 55.96%, rgba(252, 218, 151, 0) 91.67%);
    z-index: -1;
}

#radial2 {
    height: 700px;
    width: 700px;
    margin-left: -230px;
    margin-top: -240px;
    position: absolute;
    background-image: radial-gradient(80% 490px at center,rgba(185,138,66,1) 0%,rgba(217,171,89,0.8113839285714286) 31%, rgba(252,218,151,0) 60%);
    z-index: -1;
}

#radial3 {
    height: 902px;
    width: 939px;
    margin-left: -130px;
    margin-top: 640px;
    position: absolute;
    background-image: radial-gradient(50% 50% at center,rgba(185,138,66,1) 0%,rgba(217,171,89,0.8113839285714286) 31%, rgba(252,218,151,0) 60%);
    z-index: -1;
}

.para-1 {
    position: absolute;
    font-family: 'ra-med';
    z-index: 0;
}

#p1 {
    color:  #e0c28a79;
    font-size: 27px;
    line-height: 35px;
    margin-left: 30px;
    margin-top: -100px;
    width: 600px;
    height: 319px;
    font-family: 'ra-med';
    z-index: 1;
}

#p1:hover {
    color: rgb(128, 77, 0);
    -webkit-transition: color 1s;
    transition: color 1s ease;
    transition-duration: 1s;
    cursor: pointer;
}

#p2 {
    color:  #e0c28a79;
    font-size: 44px;
    line-height: 51px;
    margin-left: 530px;
    margin-top: -90px;
    text-align: right;
    width: 730px;
    height: 617px;
    font-family: 'ra-med';
    z-index: 1;
}

#p2:hover {
    color: #5f471b;
    -webkit-transition: color 1s;
    transition: color 1s ease;
    transition-duration: 1s;
    cursor: pointer;
}

#p3 {
    color:  #e0c28a79;
    font-size: 34px;
    line-height: 39px;
    margin-left: 180px;
    margin-top: 160px;
    width: 750px;
    height: 617px;
    font-family: 'ra-med';
    z-index: 1;
}

#p3:hover {
    color: #9b7d47;
    -webkit-transition: color 1s;
    transition: color 1s ease;
    transition-duration: 1s;
    cursor: pointer;
}

span {
    padding: 3px;
    display: inline-block;
}

.invisible1 {
    opacity: 0;
    user-select: none;
}

.invisible1:active {
    visibility: visible;
    opacity: 100;
    cursor: pointer;
    color: #ffe8be;
    background-color: #7c540b;
    padding: 4px;
    border-radius: 60px;
}

.invisible2 {
    opacity: 0;
    user-select: none;
}

.invisible2:active {
    visibility: visible;
    opacity: 100;
    cursor: pointer;
    color: #ffecc8;
    background-color: #d48e0d;
    padding: 4px;
    border-radius: 60px;
}

.invisible3 {
    opacity: 0;
    user-select: none;
}

.invisible3:active {
    visibility: visible;
    opacity: 100;
    cursor: pointer;
    color: #796136;
    background-color: #ffc964;
    padding: 4px;
    border-radius: 60px;
}


/* .container2 {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: 600px;
  }
  .step {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ACACA6;
    border-radius: 50%;
    transition: background 1s;
  }
  .step.selected {
    border: 2px solid #4B81BD;   
  }
  .step.completed {
    border: 2px solid #4B81BD;
    background: #4B81BD; 
  }
  .progress {
    position: absolute;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #ACACA6;
    z-index: -1;
  }
  .percent {
    position: absolute;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #4B81BD;
    z-index: 1;
    transition: width 1s;
  } */

@media (min-width: 50px) and (max-width: 600px) {
    .container a {
        margin-top: 2vh;
        display: flex;
        max-width: 50%;
    }   

}