@font-face{
    font-family: 'ra-med';
    src: url('ra-med.ttf')
}

body {
    display: block;
    margin: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
}


#radial {
    position: relative;
    width: 800px;
    height: 931px;
    left: 670px;
    top: 23px;
    margin-top: -915px;
    background: radial-gradient(54.66% 50.66% at 50% 50%, rgba(185, 138, 66, 1) 0%, rgba(217, 171, 89, 0.706386) 55.96%, rgba(252, 218, 151, 0) 91.67%);
    z-index: 0;
}

#radial2 {
    height: 700px;
    width: 700px;
    margin-left: -230px;
    margin-top: -1000px;
    position: relative;
    background-image: radial-gradient(80% 490px at center,rgba(185,138,66,1) 0%,rgba(217,171,89,0.8113839285714286) 31%, rgba(252,218,151,0) 60%);
    z-index: 0;
}

h2 {
    color: #ca9127;
    font-family: 'Smooch Sans', sans-serif;
    width: 488px;
    text-align: left;
    margin-left: 30px;
    margin-top: 370px;
    margin-bottom: 0px;
    line-height: 100px;
    font-size: 130px;
    font-weight: bold;
    word-spacing: 5px;
    
}

h3 {
    color: #ca9127;
    margin-left: 30px;
}

h1 {
    font-family: 'ra-med'; 
    font-size: 16px;
    color: #e0c28a79;
    width: 440px;
    height: 0px;
    text-align: left;
    line-height: 22px;
    margin-top: 60px;
    margin-left: 835px;
    z-index: 1;
}


h1:hover {
    color: rgb(128, 77, 0);
    -webkit-transition: color 1s;
    transition: color .2s ease-in-out;
    cursor: pointer, auto;
}

.title {
    z-index: 1;
}

a {
    color: #B38728;
    background-color: transparent;
    height: 10px;
    width: 90px;
    border: 2px solid #B38728;
    padding: 25px 30px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 15px;
    border-radius: 38px;
    margin-left: 975px;
    margin-top: 170px;
    text-decoration: none;
    z-index: 2;
}

a:hover, a:active {
    background-color: #B38728;
    color: white;
    border-radius: 38px;
    cursor: pointer;
  }

footer {
    color: #815c16;
    font-family: 'Smooch Sans', sans-serif;
    width: 250px;
    height: 10px;
    margin: 0;
    margin-top: 50px;
    text-align: right;
    margin-left: 1090px;
    font-size: 23px;
    font-weight: normal;
}

@media (max-width: 900px) {

    h2 {
        margin-left: 50%;
        width: 90%; 
        height: auto; 
        text-align: left;
        align-content: flex-start;
        margin: 1px;
        padding: 20px;
        padding-right: none;
        font-size: 100px;
        line-height: 70px;
      }

    h1 {
        font-size: 13px;
        color: #e0c28a79;
        width: 90%;
        height: 0px;
        text-align: left;
        align-content: flex-start;
        line-height: 19pxs;
        padding: 20px;
        padding-right: none;
    }
    
    }

    