
body {
    display: block;
    margin: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
}


#radial {
    position: relative;
    width: 980px;
    height: 931px;
    left: 571px;
    top: 23px;
    margin-top: -915px;
    background: radial-gradient(43.66% 43.66% at 50% 50%, rgba(185, 138, 66, 1) 0%, rgba(217, 171, 89, 0.706386) 55.96%, rgba(252, 218, 151, 0) 91.67%);
    z-index: 0;
}

#radial2 {
    height: 700px;
    width: 700px;
    margin-left: -230px;
    margin-top: -1000px;
    position: relative;
    background-image: radial-gradient(80% 490px at center,rgba(185,138,66,1) 0%,rgba(217,171,89,0.8113839285714286) 31%, rgba(252,218,151,0) 60%);
    z-index: 0;
}

h2 {
    color: #ca9127;
    font-family: 'Smooch Sans', sans-serif;
    width: 488px;
    text-align: left;
    margin-left: 30px;
    margin-top: 320px;
    margin-bottom: 0px;
    line-height: 120px;
    font-size: 130px;
    font-weight: bold;
    word-spacing: 10px;
}

h1 {
    font-family: Helvetica; 
    font-size: 20px;
    color: #e0c28a79;
    width: 500px;
    height: 0px;
    text-align: left;
    line-height: 35px;
    margin-top: 150px;
    margin-left: 810px;
    z-index: 1;
}

h1:hover {
    color: rgb(128, 77, 0);
    -webkit-transition: color 2s;
    transition: color 2s;
    transition: ease-in;
}

.title {
    z-index: 1;
}

footer {
    color: #815c16;
    font-family: 'Smooch Sans', sans-serif;
    width: 250px;
    height: 10px;
    margin: 0;
    margin-top: 250px;
    text-align: right;
    margin-left: 1090px;
    font-size: 23px;
    font-weight: normal;
}

