html {
    min-height: 100%;
}

body {
    background: url(88rising-main.jpg) no-repeat;
    background-size: cover
}

.primary-header {
    flex-direction: column;
    font-family: 'Limelight', cursive;
    margin-top: -1%;
    margin-left: 1%;
    font-size: 20px;
    background-color: hsl(57, 84%, 71%);
    background-image: linear-gradient(45deg, hsl(57, 84%, 71%), hsl(41, 63%, 43%));
    background-size: 50%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    flex-grow: 1;
}

h1 {
    flex-grow: 1;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
    padding-inline-start: 50px;
}

.image {
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
    z-index: -1;
}

.intro {
    background-color: transparent;
    font-family: 'Limelight', cursive;
    text-decoration: none;
    padding: 1rem;
    margin-top: 30%;
    margin-left: 0%;
}

div.a {
    font-size: 50px;
    color: hsl(41, 98%, 65%);
}

div.b {
    font-size: 15px;
    color: hsl(41, 98%, 65%);
}

div.c {
    font-size: 50px;
    color: hsl(41, 98%, 65%);
}


.intro a {
    color: 	hsl(41, 63%, 43%);
    background-color: hsl(45, 34.8%, 91.0%);
    border: 2px solid hsl(41, 63%, 43%);
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 38px;
    margin-left: 0%;
    margin-top: 2%;
    cursor: pointer;
    text-decoration: none;
}

.intro a:hover, a:active {
    background-color: hsl(41, 63%, 43%);
    color: hsl(0, 0%, 100%);
    border-radius: 38px;
  }