@font-face {
    font-family:'Inter', sans-serif;
    src: url();
}

body {
    min-height: 100%;
    background-color: black;
}

.primary-header {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
}

.wrapper-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    margin: 2vw;
    margin-top: 0;
    height: 650px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 140px;
    font-weight: 400;
    grid-column: 2 / 4;
    margin-left: -70px;
    margin-top: 6s0px;
    color: whitesmoke;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 140px;
    font-weight: 400;
    grid-column: 3 / 4;
    margin-top: -50px;
    color: whitesmoke;
}

.description {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 15px;
    width: 550px;
    height: 50px;
    grid-column: 1 / 4;
    text-align: justify;
    margin-right: 16vw;
    margin-top: -50px;
    color: rgb(203, 202, 202);
}

a {
    text-decoration: none;
    color: whitesmoke;
}

span {
    grid-column: 4 / 4;
    content: "\27F6";
    color: wheat;
    font-size: 120px;
    margin-top: -90px;
    animation-name: glow;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes glow {
    0% {
      text-shadow: 0 0 2px rgb(255, 255, 255);
      color: white;
    }
    50% {
      text-shadow: 0 0 10px rgb(255, 255, 255);
      color: beige;
    }
    100% {
      text-shadow: 0 0 18px beige;
      color: beige;
    }
  }