@font-face {
    font-family: 'ChakraPetch-SemiBold';
    src: url(ChakraPetch-SemiBold.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ChakraPetch-Light';
    src: url(ChakraPetch-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

body{
    margin: 0;
    background-color: black;
}

.main-text{
    color: white;
    font-family: 'ChakraPetch-SemiBold';
    margin-top: 200px;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
}

.main-title {
    color:white;
    font-size: 50px;
    font-family: 'ChakraPetch-SemiBold';
    margin-left: 2%;
    margin-top: 100px;
}

.sub-text{
    color: white;
    font-size: 20px;
    font-family: 'ChakraPetch-Light';
    margin-left: 2%;
    margin-top: 300px;
}
