@font-face {
    font-family:'Inter', sans-serif;
    src: url();
}

body {
    min-height: 100%;
    background-color: black;
}

.primary-header {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.headline {
    grid-column: 1 / -1;
    grid-row: 1;
    height: 4.7vh;
    margin-top: -7vh;
    font-size: 2vw;
    font-family: 'Inter', sans-serif;
    color: white;
    border-bottom: white;
    border-bottom-style: solid;
    text-align: center;
    width: 1320px;
    margin-left: 30px;
    z-index: -1;
}

marquee {
    font-size: 20px;
    margin-left: 80px;
    height: 85px;
}

/* .video-container{
    margin: 0;
    top: 0;
    display: grid;
    width: auto;
    grid-template-columns: repeat(80, auto);
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
    min-width: 0%;
    max-width: 100%;
  } */
  
.image-1 {
    
  }

.image-1.active{
      width: 0;
    }

/* .scroll-vidcont{
    margin: 0;
    position: fixed;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    z-index: -10;
    min-width: min-content;
} */

.key {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13rem;
    width: 100vw;
    position: fixed;
    top: 39.8vh;
}

.show-pressed{
    display: block;
    /* width: 10%;
    height: 100%; */
    position: relative;
    mix-blend-mode: difference;

    /* -webkit-animation: bye 0.4s ease-out both;
              animation: bye 0.4s ease-out both;
            animation-delay: 3s; */
  }