html, body {
    min-height: 100%;
}

@font-face {
    font-family: 'Bogam';
    src: url('fonts/Bogam.otf');
}

@font-face {
    font-family: 'GT Eesti Display Trial';
    src: url('fonts/GT-Eesti-Display-Regular-Trial.otf');
}

body {
    background-color: hsl(123, 83%, 14%);
    margin: 0;
    height: 100vh;
    background-size: 800px;
}

.logo{
    padding: 6px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    margin-top: -79px;
}

.menu ul li {
    margin: 0 2rem;
}

a {
    font-family: 'GT Eesti Display Trial';
    color: hsl(15, 29%, 97%);
    text-decoration: none;
    font-size: 18px;
}

.current{
    text-decoration: underline;
    color: hsl(8, 100%, 52%);
}

.content{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

article{
    display: block;
}

.content .info{
    text-align: justify;
    font-family: 'GT Eesti Display Trial';
    font-size: 30px;
    margin-top: 150px;
    margin-left: 240px;
    width: 900px;
    color: hsla(12, 33%, 97%, 0.847);
}