hml, body {
    min-height: 100%;
}

body {
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    height: 100vh;
    background-size: 800px;
}

.logo{
    padding: 6px;
    z-index: 3;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

section{
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.soupside{
    position: absolute;
    width: 706px;
    height: 994px;
    left: 0px;
    top: 0px;
    background: rgba(245, 119, 48, 0.44);
    z-index: -1;
}

.saladside{
    position: absolute;
    width: 690px;
    height: 994px;
    left: 706px;
    top: 0px;
    background: rgba(64, 145, 43, 0.53);
}

#item-title{
    position: absolute;
    width: 303px;
    height: 71px;
    left: 585px;
    top: 30px;
    font-family: 'GT Eesti Display Trial';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    color: #144408;
}

.picture{
    position: absolute;
    width: 570px;
    height: 535px;
    top: 168px;
    border-radius: 106px;
    z-index: 2;
}

.icon2{
    position: absolute;
    width: 157px;
    height: 157px;
    left: 1190px;
    top: 337px;
}

.icon{
    position: absolute;
    width: 157px;
    height: 157px;
    left: 37px;
    top: 337px;
}



/* .no_btn {
    padding: 50px;
    border-radius: 56px;
    width: 80px;
}

.yes_btn {
    padding: 50px;
    border-radius: 56px;
    width: 80px;
} */

/* @media only screen and (min-width: 64rem) {
    .wrapper {
        width: 103%;
        }
} */

